body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "Source Sans Pro", sans-serif;
  padding: 1em 3em;
}

.dot {
  cursor: pointer;
  color: steelblue;
  opacity: 0.5;
}

.dot:hover {
  fill: orange;
}

.axis-label {
  font-size: 14px;
  fill: black;
  text-anchor: middle;
}

.trend {
  fill: none;
  stroke: black;
}
