body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "Source Sans Pro", sans-serif;
  padding: 1em 3em;
}

#table {
  width: 300px;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid white;
}

tbody {
  width: 100%;
  display: block;
  height: 80vh;
  overflow: scroll;
}

th,
td {
  text-align: left;
  padding: 0.5em;
  cursor: pointer;
  font-weight: lighter;
  text-transform: capitalize;
}

tr:hover {
  font-weight: 900;
}
