body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1em 3em;
}

.label {
  fill: white;
  text-anchor: middle;
}

.axis {
  font-size: 16px;
}