body {
  /* ref: https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans */
  font-family: "Open Sans", sans-serif;
  padding: 1em 3em;
}

svg {
  /* temporary border to help see svg margins */
  border: 5px solid orange;
}
